<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FINAER</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">	
	
<style type="text/css">	
a {text-decoration:none;}
</style>
</head>

<body>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr></tr>
</table>
<table width="600" border="1" bordercolor="#FCFCFC" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="600"><table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="3"><img src="http://ftp.finaersa.com.ar/newsletter/2026.mails.legales/img/cabezal.jpg" usemap="#Map2" border="0"/></td>
      </tr>
      <tr>
        <td colspan="3" height="40">&nbsp;</td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td width="70" rowspan="2" >
          
          <br /><br /><br /></td>
        <td width="459" >
<span style="font-family: 'Montserrat', sans-serif; text-align: justify; color: #2f3743; font-size: 12pt; font-weight: normal; line-height: 1.8;"><strong>Estimado</strong><br><br>
</span>

			
<span style="font-family: 'Montserrat', sans-serif; text-align: justify; color: #4A4A49; font-size: 11pt; font-weight: normal; line-height: 1.8;">Nos comunicamos desde el <strong>Área de Judiciales de Finaer</strong> en referencia al expediente judicial <strong>[[ref]]</strong>, en donde la persona del solicitante ha dejado de cumplir con sus obligaciones en cuanto al pago del alquiler.<br>Razón por la cual la deuda se acrecienta día a día, sumándose intereses punitorios, costos y costas legales y por la cual TODOS son jurídicamente responsables y por la cual se los ejecutará.<br><br>
	
	
A raíz de dicha deuda los Co garantes serán también afectados e ingresados en el Veraz, como así también se los embargará judicialmente, dado que se ha instado la acción judicial en su contra las cuales, lo cual puede ser verificado ingresando a <a style="text-decoration:none;" href="https://scw.pjn.gov.ar/scw/home.seam" target="_blank" ><strong style="color: #e30613;">https://scw.pjn.gov.ar/scw/home.seam</strong></a>.<br><br>

<strong>Le proponemos una alternativa a este conflicto:</strong>
	<ol style="font-family: 'Montserrat', sans-serif; text-align: justify; color: #4A4A49; font-size: 11pt; font-weight: normal; line-height: 1.8;">

<li>Restitución del bien dado en alquiler, <strong><u>FIJANDO FECHA Y HORA dentro de los 15 días de recibida la presente.</u></strong>.</li>
<li> ARRIBAR un acuerdo de pago, siempre que restituya el inmueble dentro del plazo indicado se evaluará planes de pagos, descuentos por pago contado.</li></ol>

Aguardamos respuesta a la presente.<br>

Queda Ud. legalmente notificado.<br><br>   

 
</span>
			
		 </td>
        <td width="70" rowspan="2" >&nbsp;</td>
      </tr>
      <tr></tr>
      <tr>

      </tr>
      <tr>

      </tr>
      <tr>
        <td colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr></tr>
          </table></td>
      </tr>
      <tr>
        <td colspan="3"><img src="http://ftp.finaersa.com.ar/newsletter/2026.mails.legales/img/pie.jpg" border="0" /></td>
      </tr>
    </table></td>
  </tr>
</table>
<map name="Map2" id="Map2">
  <area shape="rect" coords="-24,-34,662,464" href="https://finaersa.com.ar/" target="_blank" />
</map>
</body>
</html>